faiss-cpu
requests
python-dotenv
pdfminer.six
python-docx
docx2txt
pytesseract
Pillow
arabic-reshaper
python-bidi
PyPDF2
unidecode
openai
pymupdf
fastapi
uvicorn[standard]
pymongo
passlib[bcrypt]
python-jose
python-multipart

